.navbar {
  background-color: black;
  opacity: 0.7;
  top: 0;
  right: 0;
  width: 100%; }
  .navbar .menu-btn {
    display: none; }
    .navbar .menu-btn:checked ~ .menu {
      max-height: 320px; }
    .navbar .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
      .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg); }
      .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg); }
    .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
      top: 0; }
    .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; }
  .navbar .menu-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    padding: 28px 20px;
    user-select: none; }
    @media screen and (min-width: 1024px) {
      .navbar .menu-icon {
        display: none; } }
    .navbar .menu-icon .navicon {
      background: white;
      border-radius: 3px;
      height: 4px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 25px; }
      .navbar .menu-icon .navicon:before {
        background: white;
        border-radius: 3px;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: 10px; }
      .navbar .menu-icon .navicon:after {
        background: white;
        border-radius: 3px;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%;
        top: -10px; }
  .navbar .menu {
    max-height: 0; }
    .navbar .menu .menu-list-item {
      padding: 10px; }
    @media screen and (min-width: 1024px) {
      .navbar .menu {
        flex-direction: row;
        justify-content: flex-end;
        max-height: none;
        padding: 20px; } }
  .navbar ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    overflow: hidden; }
    .navbar ul li a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem;
      font-weight: 600;
      color: white;
      padding: 10px; }
      @media screen and (min-width: 1024px) {
        .navbar ul li a {
          padding: 15px; } }
      .navbar ul li a:hover {
        background: #807864;
        border-radius: 5%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.homeSection {
  background-color: #e9e6d9;
  background-image: url("../images/bedroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; }
  .homeSection .loginLinkContainer {
    background-color: black;
    opacity: 0.7;
    padding: 20px; }
    .homeSection .loginLinkContainer .loginLink {
      color: white;
      padding: 10px;
      text-decoration: none;
      font-weight: bold; }
      .homeSection .loginLinkContainer .loginLink:hover {
        background: #807864;
        border-radius: 5%; }
    .homeSection .loginLinkContainer .far {
      padding: 5px; }
  .homeSection .introTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    .homeSection .introTextContainer .introduction {
      background-color: #e9e6d9;
      opacity: 0.8;
      padding: 15px;
      border-radius: 2%;
      border-style: double; }
      @media screen and (min-width: 1024px) {
        .homeSection .introTextContainer .introduction {
          width: 50%; } }
      .homeSection .introTextContainer .introduction .introText {
        font-family: 'Dancing Script', cursive;
        font-size: 25px; }
  .homeSection .showProductsContainer {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homeSection .showProductsContainer .showProductsLink {
      padding: 15px;
      text-decoration: none;
      font-weight: bold;
      border: solid #e9e6d9;
      border-radius: 50%;
      font-size: 25px;
      color: #e9e6d9;
      background: black;
      opacity: 0.7;
      border-radius: 50%;
      font-family: 'Dancing Script', cursive; }
      .homeSection .showProductsContainer .showProductsLink:hover {
        opacity: 0.5; }
  .homeSection .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e9e6d9; }
    .homeSection .homeContainer .welcomeContainer {
      background-color: black;
      opacity: 0.7;
      border-radius: 2%;
      width: 300px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px; }
      .homeSection .homeContainer .welcomeContainer .welcomeText {
        font-family: 'Dancing Script', cursive;
        font-size: 30px; }

.productDescription {
  display: none; }

.show {
  display: block; }

.message {
  color: green;
  font-family: 'Open sans', sans-serif; }

.warning_message {
  color: red; }

.adminContainer {
  background-color: #e9e6d9;
  font-family: "Open Sans", sans-serif; }
  .adminContainer .addProductHeading {
    padding: 10px;
    font-size: 2em; }
  .adminContainer .productAdminForm {
    padding: 10px; }
    .adminContainer .productAdminForm .productAdminInput {
      border: 1px solid #c2c2c2;
      height: 32px;
      font-size: 14px;
      padding: 0 9px;
      border-radius: 7px;
      margin-top: 5px; }
    .adminContainer .productAdminForm .check {
      font-size: 20px;
      padding: 5px;
      color: #30cc5f;
      border: none;
      background: none; }
    .adminContainer .productAdminForm .regret {
      font-size: 20px;
      padding: 5px;
      color: #df2b2b; }
    .adminContainer .productAdminForm .subBtn {
      border-radius: 5%;
      cursor: pointer;
      padding: 10px;
      text-decoration: none;
      font-weight: bold;
      margin-left: 5px; }
      .adminContainer .productAdminForm .subBtn:hover {
        background: #807864;
        border-radius: 5%; }
      .adminContainer .productAdminForm .subBtn .fas {
        font-size: 15px; }
  .adminContainer .adminListHeading {
    padding: 10px; }
  .adminContainer .adminProductList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .adminContainer .adminProductList .adminProductListItem {
      flex: 1 1 30%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      background: none;
      display: flex;
      flex-direction: column;
      width: 100%; }
      .adminContainer .adminProductList .adminProductListItem .productAdminName {
        font-weight: bold;
        padding: 10px; }
      .adminContainer .adminProductList .adminProductListItem .productAdminImage {
        padding: 10px; }
      .adminContainer .adminProductList .adminProductListItem .productAdminDescription {
        display: block;
        padding: 10px; }
      .adminContainer .adminProductList .adminProductListItem .productAdminPrice {
        padding: 10px; }
      .adminContainer .adminProductList .adminProductListItem .editDeleteSection {
        display: flex;
        flex-direction: row; }
        .adminContainer .adminProductList .adminProductListItem .editDeleteSection .edit {
          color: #30cc5f;
          cursor: pointer;
          text-decoration: none;
          padding: 5px; }
        .adminContainer .adminProductList .adminProductListItem .editDeleteSection .remove {
          color: #df2b2b;
          cursor: pointer;
          text-decoration: none;
          padding: 5px; }
