<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
  </head>

  <body>

<footer class="footer-container" id="contact">
    <div class="footer-adress">
      <p>Decorative AB</p>
      <p>Granitvägen 20</p>
      <p>100 10 Stockholm</p>
    </div>
    <div class="footer-email">
      <p>Contact us at decorative.se</p>
      <p>070-123 483 88</p>
    </div>
    <div class="footer-social">
      <ul class="fa-ul">
        <li>
          <span class="fa-li"><i class="fab fa-instagram fa-1x"></i></span>
          <p>Instagram</p>
        </li>
        <li>
          <span class="fa-li"><i class="fab fa-twitter fa-1x"></i></span>
          <p>Twitter</p>
        </li>
        <li>
          <span class="fa-li"><i class="fab fa-facebook-f fa-1x"></i></span>
          <p>Facebook</p>
        </li>
      </ul>
    </div>
  </footer>
</div>
</body>