<section class="homeSection">
  
    <div class="loginRegHomeContainer">
      <div class="registerLinkContainer">
        <a href="/register" class="registerLink">Register</a>
      </div>
  
      <div class="loginLinkContainer">
        <a href="/login" class="loginLink">Log in</a>
      </div>
    </div>
  
    <div class="homeContainer">
      
        <h1 class="welcomeText">Welcome to Decorative</h1>
  
        <div class="showProductsContainer">
          <a href="/showProducts" class="showProductsLink">Products</a>
        </div>
      
    </div>
  </section>