<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
  </head>
  <body>

<section class="homeSection">
  
    <div class="loginRegHomeContainer">
      <div class="registerLinkContainer">
        <a href="/register" class="registerLink">Register</a>
      </div>
  
      <div class="loginLinkContainer">
        <a href="/login" class="loginLink"><i class="far fa-user"></i>Log in</a>
      </div>
    </div>
  
    <div class="homeContainer">
      
        <h1 class="welcomeText">Welcome to Decorative</h1>
  
        <div class="showProductsContainer">
          <a href="/products" class="showProductsLink">Products</a>
        </div>

        <a href="/addProduct">Add Product</a>
      
    </div>
  </section>
  </body>