<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
</head>

<body>

  <%- include ("menu.ejs")%>

    <section class="homeSection">

      <div class="loginRegHomeContainer">
        <div class="registerLinkContainer">
          <a href="/register" class="registerLink">Register</a>
        </div>

        <div class="homeContainer">

          <h1 class="welcomeText">Welcome to Decorative</h1>
        </div>
    </section>
</body>