<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
</head>

<body>

  <section class="homeSection">

    <%- include("menu.ejs")%>

      <div class="loginLinkContainer">
        <a href="/login" class="loginLink"><i class="far fa-user"></i>Log in</a>

      </div>
      <%- include("message.ejs")%>
        <div class="homeContainer">
          <div class="welcomeContainer">
            <h1 class="welcomeText">Welcome to Decorative</h1>
          </div>

        </div>

        <div class="introTextContainer">
          <div class="introduction">
            <p class="introText">
              Be inspired by our collection of the best home decors. We
              offer a wide range of beautiful and practical objects. If you are
              looking for accessories for your home rather than large investment
              pieces, take a peek and look through our decor products.
            </p>
          </div>
        </div>
        <div class="showProductsContainer">
          <a href="/products" class="showProductsLink">Products</a>
        </div>



  </section>

  <%- include("footer.ejs")%>
</body>

</html>