<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
  </head>

  <body>
    <%- include("menu.ejs")%>

    <h2>Login</h2>

    <% if (err) { %>
    <p class="loginErr"><%= err %></p>
    <% } %> <%- include("message.ejs")%>

    <form action="/login" method="post" class="loginForm">
      <input
        type="email"
        name="email"
        class="loginInput"
        id=""
        placeholder="email"
      />
      <input
        type="password"
        name="password"
        class="loginInput"
        id=""
        placeholder="password"
      />

      <button type class="loginBtn" ="submit">
        <i class="far fa-user"></i>Login
      </button>

      <div class="loginText">
        <span>Dont have account?</span>
        <a href="/register" class="regLink">Register</a>
        <a href="/reset" class="regLink">Forgot password?</a>
      </div>
    </form>
  </body>
</html>
