<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="stylesheet" href="/static/style/style.css" type="text/css" />
</head>

<body>
  <%- include("menu.ejs")%>
    <div class="loginContainer">
      <h2 class="loginHeadline">Login</h2>

      <% if (err) { %>
        <p class="loginErr">
          <%= err %>
        </p>
        <% } %>

          <form action="/login" method="post" class="loginForm">
            <input type="email" name="email" class="loginInput" id="" placeholder="email" />
            <input type="password" name="password" class="loginInput" id="" placeholder="password" />

            <button type class="loginBtn"="submit">
              <i class="far fa-user loginBtnContent"></i><span class="loginBtnContent">Login</span>
            </button>
          </form>
          <div class="loginLinks">
            <span>Don't have an account?</span>
            <a href="/register">Register</a>
          </div>
          <div class="loginLinks">
            <span>Forgot your password?</span>
            <a href="/reset">Reset Password</a>
          </div>
    </div>
</body>

</html>