
<div class="navigation">
  <div class="menu-list-container">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a class="menu-link" href="/">Home</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="/products">Products</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="/wishlist">My Wishlist</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="/showShoppingCart">My Cart</a>
      </li>

      <li class="menu-list-item">
        <a class="menu-link" href="/register" class="registerLink">Register</a>
      </li>
      <li class="menu-list-item">
        <a class="menu-link" href="/logout">Log out</a>
      </li>
    </ul>
  </div>
</div>


