
    
<header class="navbar" id="home">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn">
    <span class="navicon" />
  </label>
  <ul class="menu">
    <li class="menu-list-item"><a class="menu-link" href="/">Home</a></li>
    <li class="menu-list-item"><a class="menu-link" href="/products">Products</a></li>
    <li class="menu-list-item"><a class="menu-link" href="/wishlist">My Wishlist</a></li>
    <li class="menu-list-item"><a class="menu-link" href="/showShoppingCart">My Cart</a></li>
    <li class="menu-list-item"><a class="menu-link" href="/register">Register</a></li>
    <li class="menu-list-item"><a class="menu-link" href="#footer">Contact</a></li>
    <li class="menu-list-item"><a class="menu-link" href="/logout">Logout</a></li>
  </ul>
</header>