<div class="navigation">
  <div class="logo-container">
    <h3 class="logo">Decorative</h3>
  </div>
  <div class="menu-list-container">
    <ul class="menu-list">
      <li class="menu-list-item">
        <a href="/">Home</a>
      </li>
      <li class="menu-list-item">
        <a href="/products">Products</a>
      </li>
      <li class="menu-list-item">
        <a href="/wishlist">My Wishlist</a>
      </li>
      <li class="menu-list-item">
        <a href="/showShoppingCart">My Cart</a>
      </li>

      <li class="menu-list-item">
        <a href="/register" class="registerLink">Register</a>
      </li>
      <li class="menu-list-item">
        <a href="/logout">Log out</a>
      </li>
    </ul>
  </div>
</div>


