<div class="pagination">
 
  <% if(typeof totalPages !== undefined ) { %>
   

  <a href="/products/?page=<%=(dataToShow/taskPerReq)+1%>" class="page"
    >Next <i class="fas fa-arrow-alt-circle-right"></i></a>

  <% } if(page >= 2) { %>

  <a href="/products/?page=<%=(dataToShow/taskPerReq)-1%>" class="page"
    >Back <i class="fas fa-arrow-alt-circle-left"></i></a>

  <% } %>
</div>
