<h2>Add Products</h2>

<% if (err) { %>
    <p class="addProductErr"><%= err %></p>
    <% } %>

<form action="/addProduct" method="post">

    <input type="text" name="name" placeholder="name" id="">
    <input type="text" name="description" placeholder="description" id="">
    <input type="number" name="price" placeholder="price" id="">
    
    <button type="submit">Add product</button>
    
    </form>