<%- include("header.ejs")%>

  <body>
    <%- include("menu.ejs")%>
      <form action="/register" method="post">
        <input type="text" name="name" placeholder="your name">
        <input type="email" name="email" placeholder="email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Register</button>
      </form>
      <p>Already registered? <a href="/login">login</a></p>
      <%- include("message")%>

  </body>

  </html>