<h2>Reset password</h2>

<% if (err) { %>
    <p class="resetFormErr"><%= err %></p>
    <% } %>
<form action="/resetForm" method="post">

<input type="password" name="password" id="" class="resetInput" placeholder="Enter new password">
<input type="email" name="email" value="<%=email%>" hidden>

<button type="submit" class="resetBtn">Reset password</button>

</form>