<div class="sortLinks">
    <a href="/products/?page=<%=(dataToShow/taskPerReq)%>&&sorted=1" class="sort"
      >Sort by price <i class="fas fa-arrow-alt-circle-down"></i
    ></a>
    <a href="/products/?page=<%=(dataToShow/taskPerReq)%>&&sorted=-1" class="sort"
      >Sort by price <i class="fas fa-arrow-alt-circle-up"></i
    ></a>
  </div>