@import '../util/variables';
@import '../util/mixins';
body {
  background-color: $bg-color;
}
.cart-wrapper {
  // border: 1px solid;
  font-family: 'Open sans', sans-serif;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  #cart-heading {
    margin: 40px 0;
  }
  .cart-product-container {
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    @include desktop() {
      width: 70%;
    }
    padding: 10px 0;
    margin-bottom: 10px;
    .cart-item {
      margin: 4px 0;
      text-align: center;
      flex: 1;
    }
    .remove {
      color: black;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .cart-total {
    margin-top: 20px;
    font-size: 1.5em;
  }
  .cart-links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .checkout-link {
      color: black;
      font-size: 1.2em;
      text-decoration: none;
      margin-bottom: 10px;
    }
    .continue-link {
      color: black;
      font-size: 0.8em;
      text-decoration: none;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
