.homeSection {
  background-color: rgb(233, 230, 217);
  background-image: url('../images/bedroom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  @include desktop {
    height: 100vh;
  }

  .loginLinkContainer {
    background-color: black;
    opacity: 0.7;
    padding: 20px;
    .loginLink {
      color: white;
      padding: 10px;
      text-decoration: none;
      font-weight: bold;
      &:hover {
        background: $hover-bg-color;
        border-radius: 5%;
      }
    }
    .far {
      padding: 5px;
    }
  }
  .introTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .introduction {
      background-color: rgb(233, 230, 217);
      opacity: 0.8;
      padding: 15px;
      border-radius: 2%;
      border-style: double;
      @include desktop {
        width: 50%;
      }
      .introText {
        font-family: 'Dancing Script', cursive;
        font-size: 25px;
      }
    }
  }
  .showProductsContainer {
    @include desktop {
      margin: 25px;
    }
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .showProductsLink {
      padding: 15px;
      text-decoration: none;
      font-weight: bold;
      border: solid $bg-color;
      border-radius: 50%;
      font-size: 25px;
      color: $bg-color;
      background: black;
      opacity: 0.7;
      font-family: 'Dancing Script', cursive;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bg-color;
    .welcomeContainer {
      background-color: black;
      opacity: 0.7;
      border-radius: 2%;
      width: 300px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      .welcomeText {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
      }
    }
  }
}
