@import '../util/mixins';
@import '../util/variables';

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  opacity: 0.7;
  color: white;
  @include desktop {
    justify-content: flex-end;
  }
  .logo-container {
    margin-left: 10px;
  }
  .menu-list-container {
    display: flex;
    .menu-list {
      list-style: none;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      @include desktop {
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        justify-content: space-evenly;
      }
      .menu-list-item {
        padding: 10px;
        .menu-link {
          text-decoration: none;
          font-family: 'Open Sans', sans-serif;
          font-size: 1.2rem;
          font-weight: 600;
          color: white;
          padding: 10px;
          &:hover {
            background: $hover-bg-color;
            border-radius: 5%;
          }
        }
      }
    }
  }
}
