@import '../util/variables';

.message {
  font-family: 'Open sans', sans-serif;
  margin-bottom: 10px;
  padding: 10px;
  margin: 5px;
  width: 250px;
  text-align: center;
  color: black;
  background-color: rgb(105, 170, 105);
  border-radius: 5px;
  opacity: 0.8;
}

.warning_message {
  color: $warning-msg;
  width: 250px;
  margin-bottom: 10px;
}
