@import "../util/variables";
@import "../util/mixins";

.productPageContainer {
  font-family: "Open Sans", sans-serif;
  padding: 0 5px 0 5px;
  @include desktop {
    padding-left: 40px;
  }
  .productLinkContainer {
    padding: 10px;
    .productpageLink {
      @include linkStyle;
    }
  }
  .productHeading {
    padding: 10px;
    font-size: 2em;
  }
  .sortLinks {
    padding: 10px;
    .sort {
     @include linkStyle;
    }
  }
  .productPageList {
    list-style: none;
    @include flexWrap;
    .productPageListItem {
      flex: 1 1 50%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 5px;
      background: none;
     @include flexCol;
      width: 100%;
      @include desktop {
        flex: 1 1 30%;
      }
      .productPageName {
        font-weight: bold;
        padding: 10px;
      }
      .productPageImage {
        padding: 10px;
        img {
        object-fit: cover;
        transition: transform 0.25s ease;
        &:hover {
          -webkit-transform: scale(1.2);
            transform: scale(1.2);
          @include desktop {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
          }
        }
        }
      }
      
      .productPageDescription {
        display: none;
        padding: 10px;
      }
      .show {
        display: block;
      }
      .priceHeartSection {
        display: flex;
        flex-direction: row;
      .productPagePrice {
        padding: 10px;
      }
      .heartSection {
        margin-left:5%;
        margin-top: 3%;
        @include desktop {
        margin-left: 6%;
        margin-top: 2%;
      }
        .far {
          font-size: 20px;
          color: black;
          transition: 0.5s all ease-in-out;
          &:hover {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
          }
        }
      }
    }
      .readMoreBtnSection {
        padding: 5px;
        .readMoreBtn {
         @include buttonStyle;
        }
      }
      .productPageForm {
        padding: 10px;
        .productPageInput {
          border: 1px solid #c2c2c2;
          height: 32px;
          font-size: 14px;
          padding: 0 9px;
          border-radius: 7px;
          margin-top: 5px;
          width: 55px;
        }
        .productCartBtn {
          font-size: 20px;
          padding: 10px;
          border: none;
          background: none;
          cursor: pointer;
        }
        .fas {
          transition: 0.5s all ease-in-out;
          &:hover {
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
          }
        }
        
      }
    }
  }
  .pagination {
    padding: 10px;
    .page {
     @include linkStyle;
    }
  }
}
