@import "../util/mixins";
@import "../util/variables";

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-size: 18px;
    line-height: 1.8;
    padding: 10%;
    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 30px 40px;
    }
  
    div {
      margin: 20px 40px;
      @include desktop {
        padding: 0 40px;
      }
    }
    .footer-social {
      .fa-ul {
        margin-left: 1.5em;
        li {
          line-height: 2;
        }
      }
    }
  }
  