.footer-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 0.7;
  color: white;
  font-size: 18px;
  line-height: 1.8;
  padding: 10%; }
  @media screen and (min-width: 1024px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      padding: 30px 40px; } }
  .footer-container div {
    margin: 20px 40px; }
    @media screen and (min-width: 1024px) {
      .footer-container div {
        padding: 0 40px; } }
  .footer-container .footer-social .fa-ul {
    margin-left: 1.5em; }
    .footer-container .footer-social .fa-ul li {
      line-height: 2; }
